*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color: #e7f1f2;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #4b4b4b;
    background-color:#2f5d62;
    color: #ffffff;
    box-shadow: 2px 2px 4px #4b4b4b;
}
nav a{
    color: #ffffff;
}
section{
    padding: 10px;
    margin: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #4b4b4b;
    text-align: center;
}
.container{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 30px auto;
    border: 2px solid black;
    background-color: #fffdf9;
    max-width: 1000px; 
    width: fit-content;
    box-shadow: 4px 4px 6px #4b4b4b;
    align-items: center;   
}
.bullet-points{
    text-align: left;
}
.portrait-img{
    display: block;
    margin: 0 auto 20px; 
    width: 140px;
    height: 140px;
    border-radius: 50%;  
    object-fit: cover; 
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 10px;
    margin: 20px auto;
    background-color: #ffffff;
    width: 20%;
    height: fit-content;
    box-shadow: 4px 4px 6px #4b4b4b;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    padding: auto;
    margin-top: auto;
    border: 2px solid #4b4b4b;
    background-color: #2f5d62;
    box-shadow: 4px 4px 6px #4b4b4b;
    color: #ffffff;
}